@media print {
    .for-print {
        display: block !important;
    }
    .so-footer-bar, .order-detail, .fixed-bottom, .content-header, .no-print, .jio-toast__container, .jio-toast__content-box, .modal-backdrop, .back {
        display: none !important;
    }
    .page .content {
        padding: 0 !important;
        background: #fff !important;
        min-height: 0;
    }
    .purchase-order__detail .app-order-status .icon {
        display: none;
    }
    .purchase-order__detail .content-header .text-header {
        text-align: center;
        margin-bottom: 30px;
    }
    .purchase-order__detail .tb-po-product th {
        width: 10%;
    }
    .modal-content {
        border: none;
    }
    .modal-print-qr-code .modal-dialog {
        max-width: 100vw;
    }
    .print-qr-code-page .three-mm {
        height: 3mm;
    }
    .print-qr-code-page .items-wrapper {
        display: inline-flex;
        justify-content: space-between;
        width: 162mm;
    }
    .col-print-1 {
        width: 8%;
        float: left;
    }
    .col-print-2 {
        width: 16%;
        float: left;
    }
    .col-print-3 {
        width: 25%;
        float: left;
    }
    .col-print-4 {
        width: 33%;
        float: left;
    }
    .col-print-5 {
        width: 42%;
        float: left;
    }
    .col-print-6 {
        width: 50%;
        float: left;
    }
    .col-print-7 {
        width: 58%;
        float: left;
    }
    .col-print-8 {
        width: 66%;
        float: left;
    }
    .col-print-9 {
        width: 75%;
        float: left;
    }
    .col-print-10 {
        width: 83%;
        float: left;
    }
    .col-print-11 {
        width: 92%;
        float: left;
    }
    .col-print-12 {
        width: 100%;
        float: left;
    }
}
@media print {
    /* page-break-after works, as well */
    .pagebreak {
        page-break-after: always;
    }
}

.is-print {
    font-family: Arial, serif;
    color: #000;
    height: calc(100vh - 500px);
    overflow-y: scroll;
    display: grid;
    justify-content: center;
    background-color: #495057;
}
.row {
    width: 164mm;
    margin: 1mm;
    height: 22mm;
    background-color: white;
}
.row .col-print-3 {
    width: calc(24% - 2mm);
    margin-left: 9px;
    margin-top: 6px;
}
.row .col-print-3.add-2 {
    width: calc(24% + 2mm);
}
.row .item {
    top: 5px;
    left: 12px;
    width: calc(100% - 5mm);
}
.row .item.left-0 {
    left: -10px;
}
.row .item.item-2 {
    left: -10px;
}
.row .item.last {
    left: -21px;
    right: calc(1mm + 25px);
}
.row .item .item-left {
    position: absolute;
    left: 58px;
    top: 21px;
}
.row .item .item-left p {
    margin-bottom: 0;
}
.row .prefix {
    margin-top: 3px;
}

.row .position-relative {
    display: inline-block;
}

p.name {
    font-size: 9px;
    line-height: 1;
    text-decoration: none;
    overflow: hidden;
    max-height: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-word;
    margin-bottom: 3px;
}
